@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background: radial-gradient(540px at 50% 50%, #2b3760 0%, #0b1023 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-menu {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 30px 0;
  .title {
    grid-column-start: 1;
    // grid-column: 1;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    &.active {
      color: red;
      // font-size: 3rem;
    }
  }
  .menu-button {
    grid-column-start: 3;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
}

.slide-menu {
  z-index: 100;
  height: 130vh;
  width: 350px;
  // background: hsl(207, 44%, 49%);
  background: #eae5e5;
  transform: rotate(6.4deg);
  position: absolute;
  top: -25px;
  right: -450px;
  border-left: 2px solid rgba(0, 0, 0, 0.96);
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);
  transition: right 0.3s ease-in-out;
  &.active {
    right: -40px;
  }
  .social-media {
    text-align: center;
    margin: 60px 0;
    font-size: 1.2rem;
    transform: rotate(-6.4deg);
    h2 {
      font-weight: 400;
      position: relative;
      left: -20px;
      color: hsl(0, 0%, 24%);
      // filter: drop-shadow(1px 1px hsl(207, 44%, 40%));
    }
    ul {
      display: flex;
      margin-left: 35px;
      list-style: none;
      li {
        margin: 20px 30px;
        // filter: drop-shadow(1px 1px hsl(207, 44%, 40%));
        cursor: pointer;
      }
    }
  }
}

.main-section {
  // width: 100%;
  .user-info {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    .user-name {
      color: #fff;
      font-size: 3rem;
    }
    .user-prof {
      color: #fff;
      display: flex;
      justify-content: flex-end;
      font-size: 1.5rem;
    }
  }
  .user-img {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
    .images {
      img {
        width: 150px;
        position: relative;
        transition: top 0.3s ease-out;
      }
      .model-left {
        top: -10px;
      }
      .model-right {
        top: 10px;
      }
      &:hover img {
        top: 0;
      }
    }
  }
}
