@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.main-container {
  background: radial-gradient(540px at 50% 50%, #2b3760 0%, #0b1023 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.second-container {
  background: radial-gradient(540px at 50% 50%, #4e3022 0%, #161616 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.third-container {
  background: radial-gradient(540px at 50% 50%, #3a0606 0%, #161616 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide-menu {
  z-index: 100;
  height: 110vh;
  width: 400px;
  background: #eae5e5;
  -webkit-transform: rotate(6.4deg);
          transform: rotate(6.4deg);
  position: absolute;
  top: -25px;
  right: -450px;
  border-left: 2px solid rgba(0, 0, 0, 0.96);
  -webkit-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}

.slide-menu.active {
  right: -40px;
}

.slide-menu.new {
  right: -40px;
}

.slide-menu button {
  position: relative;
  top: 50px;
  left: 15px;
  border-radius: 50%;
  padding: 2px 5px;
  background: transparent;
  color: #242424;
  -webkit-transform: rotate(-6.4deg);
          transform: rotate(-6.4deg);
  cursor: pointer;
}

.slide-menu button.close-menu {
  font-size: 1.2rem;
}

.slide-menu button:hover button {
  opacity: 100%;
}

.slide-menu .social-media,
.slide-menu .contact {
  text-align: center;
  margin: 80px 0 0;
  font-size: 1.2rem;
  -webkit-transform: rotate(-6.4deg);
          transform: rotate(-6.4deg);
}

.slide-menu .social-media h2,
.slide-menu .contact h2 {
  font-weight: 400;
  position: relative;
  left: -20px;
  color: #242424;
}

.slide-menu .social-media ul,
.slide-menu .contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  list-style: none;
}

.slide-menu .social-media ul li,
.slide-menu .contact ul li {
  margin: 20px 40px;
  -webkit-filter: drop-shadow(1px 1px #bfbfbf);
          filter: drop-shadow(1px 1px #bfbfbf);
  cursor: pointer;
}

.slide-menu .social-media .phone-number,
.slide-menu .social-media .email,
.slide-menu .contact .phone-number,
.slide-menu .contact .email {
  margin: 10px 40px 0 0;
  color: #3d3d3d;
}

.main-container,
.second-container,
.third-container {
  -webkit-filter: blur(0);
          filter: blur(0);
  height: 100vh;
  -webkit-transition: -webkit-filter 0.4s ease-in-out;
  transition: -webkit-filter 0.4s ease-in-out;
  transition: filter 0.4s ease-in-out;
  transition: filter 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out;
}

.main-container .title-menu,
.second-container .title-menu,
.third-container .title-menu {
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  margin-top: 30px;
}

.main-container .title-menu .title,
.second-container .title-menu .title,
.third-container .title-menu .title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.main-container .title-menu .menu-button,
.second-container .title-menu .menu-button,
.third-container .title-menu .menu-button {
  -ms-grid-column: 3;
      grid-column-start: 3;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.main-container .main-section,
.second-container .main-section,
.third-container .main-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.main-container .main-section .user-info,
.second-container .main-section .user-info,
.third-container .main-section .user-info {
  cursor: pointer;
  -ms-grid-column: 1;
      grid-column-start: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-container .main-section .user-info a,
.second-container .main-section .user-info a,
.third-container .main-section .user-info a {
  text-decoration: none;
}

.main-container .main-section .user-info a .user-name,
.second-container .main-section .user-info a .user-name,
.third-container .main-section .user-info a .user-name {
  color: #fff;
  font-size: 3rem;
}

.main-container .main-section .user-info a .user-prof,
.second-container .main-section .user-info a .user-prof,
.third-container .main-section .user-info a .user-prof {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5rem;
}

.main-container .main-section .user-img,
.second-container .main-section .user-img,
.third-container .main-section .user-img {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .main-section .user-img:hover img,
.second-container .main-section .user-img:hover img,
.third-container .main-section .user-img:hover img {
  top: 0;
}

.main-container .main-section .user-img img,
.second-container .main-section .user-img img,
.third-container .main-section .user-img img {
  z-index: 2;
  width: 150px;
  position: relative;
  -webkit-transition: top 0.3s ease-out;
  transition: top 0.3s ease-out;
}

.main-container .main-section .user-img .model-left,
.second-container .main-section .user-img .model-left,
.third-container .main-section .user-img .model-left {
  top: -10px;
}

.main-container .main-section .user-img .model-right,
.second-container .main-section .user-img .model-right,
.third-container .main-section .user-img .model-right {
  top: 10px;
}

.main-container .main-section .page-menu,
.second-container .main-section .page-menu,
.third-container .main-section .page-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  color: #fff;
}

.main-container .main-section .page-menu .page,
.second-container .main-section .page-menu .page,
.third-container .main-section .page-menu .page {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .main-section .page-menu .page .button,
.second-container .main-section .page-menu .page .button,
.third-container .main-section .page-menu .page .button {
  cursor: pointer;
  margin-left: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.main-container .main-section .page-menu .page .button:hover,
.second-container .main-section .page-menu .page .button:hover,
.third-container .main-section .page-menu .page .button:hover {
  background: grey;
}
/*# sourceMappingURL=style.css.map */